.logo {
  filter: drop-shadow(0 0 0.75rem #401d04);
  width: 90%;
  height: 35%;

  @include media-breakpoint-down(sm) {
    width: 80%;
    height: 35%;
  }
}

.banner {
  padding: 0;
  align-self: center;
}

.subtitle {
  color: var($grey);
  margin-top: -12px;
}
