.rounded-box {
  border-radius: 8px;
  font-weight: 600;
  padding: 12px;
  &--blue {
    @extend .rounded-box;
    background-color: $blue;
  }
  &--green {
    @extend .rounded-box;
    background-color: $green;
  }
}
