.iframe {
  width: 1px;
  min-width: 100%;
  animation-delay: .25s;

  &-yt {
    width: 100%;
    height: 260px;
  
    @include media-breakpoint-down(sm) {
      height: 160px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 260px;
    }
  }
}
