$blue: #c6e7ff;
$green: #c7ffb0;
$grey: #808080;
$darkgrey: #333;
$btn-colour: #0096e2;
$btn-colour-hover: #00ade2;
$background: #f8f8f8;

$color-ui-red: #c23b3b;
$color-ui-green: #6cb852;
$color-ui-blue: #3387a2;

$grid-breakpoints: (
  sm: 400px,
  md: 768px
) !default;

.text-align {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }
}

.color {
  &-warning {
    color: $color-ui-red;
  }
  
  &-success {
    color: $color-ui-green;
  }

  &-info {
    color: $color-ui-blue;
  }
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

.slide-up {
  opacity: 1;
  bottom: 0;
  animation-name: slideUp;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes slideUp {
  0% {
    bottom: -10%;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}