.slide-up {
    opacity: 1;
    bottom: 0;
    animation-name: slideUp;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes slideUp {
    0% {
        bottom: -10%;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}