:root {
  --blue: #c6e7ff;
  --green: #c7ffb0;
  --grey: #808080;
  --darkgrey: #333;
  --btn-colour: #0096e2;
  --btn-colour-hover: #00ade2;
}

.btn-primary {
  background-color: var(--btn-colour);
  border-color: var(--btn-colour);
}

.btn-primary:hover {
  background-color: var(--btn-colour-hover);
  border-color: var(--btn-colour-hover);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content:first-child {
  margin-top: 50px;
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}